<div class="fluid-container body__container">
  <app-header class="header__position"></app-header>
  <router-outlet></router-outlet>
  <app-footer class="footer__position"></app-footer>
</div>
<!-- <button [routerLink]="'blog'">Blog</button>
<button [routerLink]="'blog-detail'">Blog Detail</button>
<button [routerLink]="'account'">Account User</button>
<button [routerLink]="'login'">Login</button>
<button [routerLink]="'register'">Register</button>
<button [routerLink]="'shop-grid'">Shop Grid</button>
<button [routerLink]="'about'">About</button>
<button [routerLink]="'product-detail'">Product Detail</button>
<button [routerLink]="'product-all'">Product</button>


<router-outlet></router-outlet>
<app-chatbot></app-chatbot> -->
