


    <!-- Google Font -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" type="text/css">


    <link rel="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" type="text/css">

 	<!-- owl carousel libraries -->
   <!-- <link rel="stylesheet" href="js/owlcarousel/owl.carousel.min.css"> -->


    <div class="banner">
      <div class="owl-carousel owl-theme"></div>
    </div>
    <!-- End Banner -->

    <!-- Product Section Begin -->

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Sản phẩm</h4>
                            <ul>
                              <li><a (click)="getProductsByCategoryStyle('S1')">Gốm phòng bếp</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S2')">Gốm phòng tắm</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S3')">Gốm trang trí</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S4')">Bộ gốm</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S5')">Gia dụng</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S6')">Gốm phòng khách</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S7')">Gốm trang sức</a></li>
                              <li><a (click)="getProductsByCategoryStyle('S8')">Khác</a></li>
                            </ul>
                        </div>
                        <!-- <div class="sidebar__item">
                            <h4>Giá</h4>
                            <div class="price-range-wrap">
                                <nz-slider [nzMin]="50000" [nzMax]="10000000" [nzStep]="50000" nzRange [(ngModel)]="value2" [nzDisabled]="disabled" ></nz-slider>
                            </div>
                        </div> -->

                        <div class="sidebar__item">
                          <h4>Giá</h4>
                          <div class="price-range-wrap">
                            <nz-slider [nzMin]="50000" [nzMax]="10000000" [nzStep]="50000" nzRange [(ngModel)]="value2" [nzDisabled]="disabled"></nz-slider>

                            <button class="btn btn-primary">Reset</button>
                          </div>
                        </div>

                        <div class="sidebar__item">
                          <div class="latest-product__text">
                              <h4>Sản phẩm mới</h4>
                              <div class="latest-product__slider owl-carousel">
                                  <div class="latest-prdouct__slider__item">
                                      <a class="latest-product__item">
                                          <div class="latest-product__item__pic">
                                              <img src="latest-product/lp-1.jpg" alt="">
                                          </div>
                                          <div class="latest-product__item__text">
                                              <h6>Crab Pool Security</h6>
                                              <span>$30.00</span>
                                          </div>
                                      </a>

                                  </div>

                              </div>
                          </div>
                      </div>

                    </div>
                </div>



                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">

                        <div >
                          <div class="hero__search">
                              <div class="hero__search__form">
                                  <form action="#">
                                      <div class="hero__search__categories">
                                        <p ><i class="fa fa-search"></i></p>
                                          <span class="arrow_carrot"></span>
                                      </div>
                                      <input class="form-control" value="" required="required" title="" name="searchText" [(ngModel)]="searchText" placeholder="Bạn tìm sản phẩm nào?" type="text" #proName  >
                                      <button class="search-button" (click)="getProductsBySearchName(proName.value)"><b>Tìm</b></button>
                                  </form>
                              </div>
                          </div>

                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span for="sort">Sắp xếp theo:</span>
                                    <select name=" " id="sort" [(ngModel)]="sortOrder">
                                      <option value=" " disabled>--Sắp xếp--</option>
                                      <option value="price-asc">Giá tăng dần</option>
                                      <option value="price-desc">Giá giảm dần</option>
                                      <option value="name-asc">Tên A-Z</option>
                                      <option value="name-desc">Tên Z-A</option>
                                  </select>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5">
                              <div class="filter__sort">
                                  <span for="sort">Khoảng giá:</span>
                                  <select name=" " id="sort" [(ngModel)]="sortOrder">
                                    <option value=" " disabled>--Lọc theo--</option>
                                    <option value="Under200K">Nhỏ hơn 200,000đ</option>
                                    <option value="From200KTo400K">200,000đ-400,000đ</option>
                                    <option value="From400KTo800K">400,000đ-800,000đ</option>
                                    <option value="Over800K">Trên 800,000đ</option>
                                </select>
                              </div>
                          </div>
                        </div>
                    </div>

<section class="bg-color">
  <div class="containers">

      <div class="row" *ngIf="products" >
        <div class="col-md-3"  *ngFor="let product of products | filter: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: p } | sortProducts: sortOrder | sortProducts: sortPrice" >
          <div class="card"  >
                  <div class="card-main" >
                      <div class="image" (click)="DetailProduct(product)">
                        <img src="{{product.image}}">
                      </div>
                      <div class="cart-line" (click)="DetailProduct(product)"></div>
                      <div class="cart-item">
                          <ul>
                              <li (click)="addToCart(product)"><a><i class="fa fa-shopping-basket" ></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content" (click)="DetailProduct(product)">
                      <a href="javascript:void(0);">{{product.productName}}</a>
                      <p><span class="money fw-bold">{{product.price  | currency: "":"": "6.0"}}đ</span></p>
                  </div>
              </div>
          </div>
      </div>

      <div class="page">
        <pagination-controls (pageChange)="p = $event" previousLabel=""
        nextLabel=""> </pagination-controls>
      </div >

  </div>
</section>



                </div>
            </div>
        </div>
    <!-- Product Section End -->



