.body{
  padding: 40px 0;
  background-color: #F6F3EE;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #C6743E;
}

.container {
  max-width: 900px;
  margin: auto;
}

.total {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.total b {
  font-size: 1.2rem;
}

.payment-info form {
  max-width: 400px;
}

.payment-info label {
  display: block;
  margin-bottom: 0.5rem;
}

.payment-info input,
.payment-info button {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.cart-info img {
  width: 100px;
  margin-right: 1rem;
}

.cart-info li {
  margin-bottom: 1rem;
}

.btn-primary {
  background: #0199ff;
  border-color: #0199ff;
}

.btn-primary:hover {
  background: #0478d7;
  border-color: #0478d7;
}
.label {
  font-size: medium;
  font-weight: bold;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);  /* Màu xám mờ */
  z-index: 20000;
}

.popup{
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  z-index: 20001;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  font-size: medium;

}
#countdown {
  color: red;
}

.popup-content img {
  width: 70%;
}
.popup-content {
  overflow: auto
}
.center {
  text-align: center;
}
