<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
  <main id="main">
    <!-- <div class="row-banner">
      <img src="assets/banner/banner1.png" alt="ERROR">
    </div> -->

<!--
    <section id="hero-slider" class="hero-slider">
      <div class="container-md">
        <div class="row">
          <div class="col-12">
            <div class="swiper-container sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('../../assets/image/About/about-4.jpg');">
                    <div class="img-bg-inner">
                      <h2>Nhà gốm</h2>
                      <p>Đây là nhà gốm</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('../../assets/image/About/about-2.jpg');">
                    <div class="img-bg-inner">
                      <h2>Nhà gốm</h2>
                      <p>Đây là nhà gốm</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('../../assets/image/About/about-1.png');">
                    <div class="img-bg-inner">
                      <h2>Nhà gốm</h2>
                      <p>Đây là nhà gốm</p>
                    </div>
                  </a>
                </div>

              </div>
              <div class="swiper-button-next custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="swiper-button-prev custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
<section class="bg-gray-100">
  <div class="container py-6 py-md-7 text-white z-index-20" style="background-image: url('../../assets/image/About/about-4.png');">
    <div class="row">
      <div class="col-xl-10">
        <div class="text-center text-lg-start">
          <p class="subtitle letter-spacing-4 mb-2 text-primary text-shadow">The best caretaker portal</p>
          <h1 class="display-3 fw-bold text-shadow">Loved your elderly</h1>
        </div>
      </div>
    </div>
  </div>
</section>
    <div class="row__item--bestseller">
      <div class="bestseller__item">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-xs-6 col-sm-3" *ngFor="let product of popularProducts.slice(0,4)">
                              <div class="bestseller__item--card products-card">
                                  <img src="{{product.image}}" alt="">
                                  <h2>{{product.productName}}</h2>
                                  <p>{{product.price}}đ</p>
                                  <a href="">Chi tiết sản phẩm</a>
                                  <hr>
                                  <button onClick="">Mua ngay</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-xs-6 col-sm-3" *ngFor="let product of popularProducts.slice(4,8)">
                              <div class="bestseller__item--card products-card">
                                  <img src={{product.image}} alt="">
                                  <h2>{{product.productName}}</h2>
                                  <p>{{product.price}}đ</p>
                                  <a href="">Chi tiết sản phẩm</a>
                                  <hr>
                                  <button onClick="">Mua ngay</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>

      </div>

  </div>
    <!-- blogs -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <h2 class="text-center">Blog tiêu biểu</h2>
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="{{blogs[1].imgTitle}}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span>{{blogs[1].blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blogs[1].blogDate}}</span></div>
              <h2><a href="single-post.html">{{blogs[1].blogTitle}}</a></h2>
              <p class="mb-4 d-block">{{blogs[1].shortContent}}</p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{blogs[1].author}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border" *ngFor="let blog of blogs.slice(7,10)">
                <div class="post-entry-1">
                  <a href=""><img src="{{blog.imgTitle}}" class="img-fluid" style="height:150px;width: 225px;"></a>
                  <div class="post-meta"><span class="date">{{blog.blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blog.blogDate}}</span></div>
                  <h4><a href="">{{blog.blogTitle}}</a></h4>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border" *ngFor="let blog of blogs.slice(12,15)">
                <div class="post-entry-1">
                  <a href=""><img src="{{blog.imgTitle}}" class="img-fluid" style="height:150px;width: 225px;"></a>
                  <div class="post-meta"><span class="date">{{blog.blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blog.blogDate}}</span></div>
                  <h4><a href="">{{blog.blogTitle}}</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    navigation: {
      nextEl: '.custom-swiper-button-next',
      prevEl: '.custom-swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    autoplay: {
      delay: 5000,
    },
    slidesPerView: 1,
    spaceBetween: 0,
  });
});

  </script>
</body>
</html>
