
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ---------------------------------banner------------------------------------- */


.active {
  opacity: 1;
}
section .slidershow * {
  z-index: 2;
}
section .slidershow .slideshow .slide {
  z-index: 1;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
}

.custom-text {
  line-height: 2;
  justify-content: center;
  padding-top: 100px;
}
.custom-text p {
  color: #fff;
  font-size: 16px;

}
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.hero__item {
  height: 431px;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero__text h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #b14739;
}

.hero__text span {
  font-size: 20px;
  /* text-transform: uppercase; */
  color: #252525;
  line-height: 35px;
  /* font-weight: 700; */
  margin: 10px 0;
}

.hero__text a {
  text-decoration: none;
}
.hero__text a:hover {
  color: #ddb383
}
/* ----------------------------------------end banner----------------------------------------- */
.homepage-section {
  padding-top: 180px;
}
.infor {
  display: flex;
  flex-direction: column;
}
.infor1 {
  margin-top: auto;
}
.homepage-section__title {
  font-size: 28px;
  font-weight: 500;
  color: #6f784a;
  margin-bottom: 20px;
}

.homepage-section__content {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* *******************************************Products**************************************** */

button.carousel-control-prev span {
  margin-left: -200px;
  color: #000 !important;
}

button.carousel-control-next span {
  margin-right: -200px;
  color: #b14739;
}
.hotProduct {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #7a5a36;
  padding-top: 20px;
}

.bestseller__item {
  display: flex;
  justify-content: space-around;
	position: relative;
  background-color: var(--color3);
  width: 100%;
  border: #636363;
}

.products-card {
  width: 290px;
  margin: 10px 0 10px 0;
  text-align: center;
  background-color: var(--primary-color);
  width: 100%;
  justify-content: center;
  border: #000;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.products-card:hover {
  background-color: #b1997e;
}
.products-card img {
  width: 250px;
  height: 250px;
  padding: 10px 10px 0 10px;
}
.products-card a {
  text-decoration: none;
  color: var(--text-color-1);
}

.products-card a:hover {
  font-weight: bold;
  color: var(--text-color-1);
}

.products-card hr {
  width: 70%;
  margin: auto;
}

.products-card h2 {
  font-size: 20px;
  color: #555;
  font-weight: 700;
  text-transform: capitalize;
}

.products-card p {
  margin: 10px auto;
  color: #752b3a;
  font-weight: 700;
  font-size: 20px;
}

.products-card button {
  width: 100%;
  height: 22px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--color3);
  color: var(--text-color-1);
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.bestseller__item--card a:hover {
  text-decoration: none;
  color: var(--color3);
  font-size: 20px;
}

.bestseller__item--card h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  height: 48px;
}

.bestseller__item--card {
  font-size: 15px;
  text-align: center;
}

/* ---------------blog-------------------- */
section #posts {
  padding: 60px 0;
}
.post-entry-1 {
  margin-bottom: 30px;
}
.post-entry-1 img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  overflow: hidden;
}
.post-entry-1 h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}
.post-entry-1 h2 a {
  color: #555;
  text-decoration: none;
}
.post-entry-1 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}
.post-entry-1 h4 a {
  color: var(--color-black);
  text-decoration: none;
}
.post-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: #555;
  margin-bottom: 10px;
}
.name h3 {
  font-size: 17px;
}

.title_product_home {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}
.title_product_home p {
  max-width: 750px;
  margin: 0 auto;
}
p:last-child {
  margin-bottom: 0 !important;
}
.size_title {
  font-size: 43px;
}
.color_brown {
  color: #7a5a36;
}
.button_seemore_product {
  text-align: center;
}
.button_seemore_product a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 143px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    background-color: #7a5a36;
}

.doiTac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.doiTac img {
  width: 15%;
  height: auto;
  margin: 10px;
}
.center{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.center p{
  color: white;
}
