

<section class="py-5 slidershow">
  <div class="slideshow-container">
    <div class="slideee bg-image" *ngFor="let image of images; let i = index" [ngStyle]="{'background-image': 'url(' + image + ')'}" [ngClass]="{'active': i === currentImage}">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="hero__item">
          <div class="hero__text">
            <span>Chào bạn ghé thăm</span>
            <h2>NHÀ GỐM</h2>
            <a href="#" class="primary-btn" style="background-color: #7a5a36;">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="custom-text">
          <p class="mb-3 center">
            Sản phẩm của Nhà Gốm được tạo ra từ bàn tay của những người thợ lành nghề tại Việt Nam, sử dụng vật liệu đất sét cao lanh tốt nhất và lần lượt trải qua các giai đoạn rót, gọt, dũa, tráng men và nung ở nhiệt độ cao. Sự chăm chút ở tất cả giai đoạn tạo nên giá trị của gốm amaï, từ phần nhìn cho đến cảm giác cầm nắm và trải nghiệm sử dụng. amaï được kiểm chứng an toàn sử dụng cho ngành F&B.
          </p>
          <!-- <p class="mb-3 center">
            Gốm được nung với lò gas, màu men phong phú mang hơi thở thời đương đại, nhưng những giá trị xưa cũ luôn được chúng tôi lưu giữ và gửi gắm, trong từng món gốm được làm ra từ bàn tay, khối óc những người trẻ, tại xưởng Nhà Gốm đặt tại Vĩnh Phú – Thuận An – Bình Dương.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section" style="background-image: url(../../assets/image/homepage/background.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/image/homepage/home1.jpg" alt="">
      </div>
      <div class="col-md-6">
          <h3 class="homepage-section__title">Hơn 100 nhà hàng đã lựa chọn Nhà Gốm</h3>
          <p class="homepage-section__content">Với kinh nghiệm làm tô chén dĩa, ly tách, bộ trà, phin cà phê cho các nhà hàng, resort, quán cà phê cho đến nay, Nhà Gốm có số lượng phong phú về chủng loại và kiểu dáng đủ để đáp ứng các yêu cầu khác nhau của các bếp trưởng, từ món Âu, món Nhật, Hàn Quốc, Việt Nam.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-6 infor">
        <div class="infor1">
        <h3 class="homepage-section__title">Nhà Gốm làm gốm thủ công bản địa</h3>
        <p class="homepage-section__content">Ra đời ở thời kỳ gốm Việt Nam chạy theo những đơn hàng gia công theo các yêu cầu của khách Châu Âu, Mỹ. Nhà Gốm chọn làm gốm bản địa Việt Nam, tìm lại những giá trị đã mai một của gốm Việt để làm nên dòng gốm mới, trước tiên phải có được sự yêu thích của người Việt để rồi có thể đi xa hơn, đến được với sự đón nhận của bạn bè quốc tế.</p>
      </div>
      </div>
      <div class="col-md-6 col-md-push-6">
        <img src="../../assets/image/homepage/home2.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/image/homepage/home3.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h3 class="homepage-section__title">Nhà Gốm - Sản phẩm gốm làm chậm</h3>
        <p class="homepage-section__content">Với xưởng làm gốm thủ công đặt tại làng Bát Tràng vỏn vẹn chỉ 30 nhân công, chúng tôi không mong muốn đi theo hướng làm gia công số lượng lớn. Đội ngũ ở Nhà Gốm mong được làm gốm “chậm”: chậm trong từng công đoạn để thủ công mà không vội vàng, qua loa, chậm trong suy nghĩ khi tạo một mẫu gốm mới để gốm ra đời không chỉ có thẩm mỹ mà còn đem đến những trải nghiệm thú vị khi sử dụng trong đời sống.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-6 infor">
        <div class="infor1">
        <h3 class="homepage-section__title">Gốm làm thủ công và nung qua hai lần lửa</h3>
        <p class="homepage-section__content">Gốm được nung ở nền nhiệt cao từ 1.200-1.250 độ, có xương gốm đanh chắc, độ bền bề mặt men trường tồn theo thời gian, Nhà Gốm hướng đến việc làm ra những sản phẩm bền vững, với vòng đời của gốm kéo dài qua nhiều thế hệ.</p>
      </div>
    </div>
      <div class="col-md-6 col-md-push-6">
        <img src="../../assets/image/homepage/home2.jpg" alt="">
      </div>
    </div>
  </div>
</section>


<!-- **********************************Products************************************* -->

  <section class="productList" style="background-image: url(../../assets/image/homepage/background.jpg);">
    <div class="row__item--bestseller">
      <div class="hotProduct">
        SẢN PHẨM NỔI BẬT
      </div>
      <div class="bestseller__item">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

              <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3" *ngFor="let product of products.slice(16,20)">
                          <div class="bestseller__item--card products-card">
                              <img src="{{product.image}}" alt="">
                              <h2>{{product.productName}}</h2>
                              <a (click)="DetailProduct(product)">Chi tiết sản phẩm</a>
                              <p>{{product.price}}đ</p>
                              <hr>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row">
                      <div class="col-xs-6 col-sm-3" *ngFor="let product of products.slice(5,9)">
                          <div class="bestseller__item--card products-card">
                              <img src={{product.image}} alt="">
                              <h2>{{product.productName}}</h2>
                              <p>{{product.price}}đ</p>
                              <a (click)="DetailProduct(product)">Chi tiết sản phẩm</a>
                              <hr>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</div>
<div class="hotProduct">
  SẢN PHẨM BÁN CHẠY
</div>
  <div class="row__item--bestseller">
    <div class="bestseller__item">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                      <div class="col-xs-6 col-sm-3" *ngFor="let product of products.slice(11,15)">
                        <div class="bestseller__item--card products-card">
                            <img src="{{product.image}}" alt="">
                            <h2>{{product.productName}}</h2>
                            <a (click)="DetailProduct(product)">Chi tiết sản phẩm</a>
                            <p>{{product.price}}đ</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-3" *ngFor="let product of products.slice(25,29)">
                        <div class="bestseller__item--card products-card">
                            <img src={{product.image}} alt="">
                            <h2>{{product.productName}}</h2>
                            <a (click)="DetailProduct(product)">Chi tiết sản phẩm</a>
                            <p>{{product.price}}đ</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

  <!-- ---------------blog------------------------ -->
    <section id="posts" class="posts" style="background-image: url(../../assets/image/homepage/background.jpg);">
      <div class="container" data-aos="fade-up">
        <h2 class="hotProduct">TẢN MẠN VỀ GỐM</h2>
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="{{blogs[0].imgTitle}}" style="height: 360px; width: 360px;" class="img-fluid blogImage"></a>
              <div class="post-meta"><span>{{blogs[0].blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blogs[0].blogDate}}</span></div>
              <h2><a href="single-post.html">{{blogs[0].blogTitle}}</a></h2>
              <p class="mb-4 d-block">{{blogs[0].shortContent}}</p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{blogs[0].author}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="{{blogs[4].imgTitle}}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span>{{blogs[4].blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blogs[4].blogDate}}</span></div>
              <h2><a href="single-post.html">{{blogs[4].blogTitle}}</a></h2>
              <p class="mb-4 d-block">{{blogs[4].shortContent}}</p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{blogs[4].author}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="{{blogs[12].imgTitle}}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span>{{blogs[12].blogName}}</span> <span class="mx-1">&bullet;</span> <span>{{blogs[12].blogDate}}</span></div>
              <h2><a href="single-post.html">{{blogs[12].blogTitle}}</a></h2>
              <p class="mb-4 d-block">{{blogs[12].shortContent}}</p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{blogs[12].author}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section style="background-image: url(../../assets/image/homepage/background.jpg);">
  <div class="title_product_home">
    <div class="color_brown size_title">
      Lướt Xem Nhà Gốm
    </div>
    <p>
      Gốm thủ công được chúng tôi thiết kế từ nền tảng mỹ thuật của gốm Việt Nam kết hợp cùng các giá trị của thời đương đại.
    </p>
    <p>&nbsp;</p>
  </div>
  <div class="button_seemore_product">
    <a href="">Xem Thêm</a>
  </div>
</section>
<section style="background-image: url(../../assets/image/homepage/background.jpg);">
  <div class="title_product_home">
    <div class="color_brown size_title">
      Đối Tác Của Chúng Tôi
    </div>
  </div>
  <div class="doiTac">
    <img src="../../assets/image/homepage/doitac1.png" alt="Image 1">
    <img src="../../assets/image/homepage/doitac2.png" alt="Image 2">
    <img src="../../assets/image/homepage/doitac3.png" alt="Image 3">
    <img src="../../assets/image/homepage/doitac4.jpg" alt="Image 4">
  </div>
</section>
