
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ---------------------------------banner------------------------------------- */


.active {
  opacity: 1;
}
section .slidershow * {
  z-index: 2;
}
section .slidershow .slideshow .slide {
  z-index: 1;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
}

.custom-text {
  line-height: 2;
  justify-content: center;
  padding-top: 100px;
  align-items: center;
}
.custom-text p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
@media (max-width:960px) {
  .custom-text p {
    display: none;
  }
}
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.hero__item {
  height: 431px;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero__text h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #b14739;
}

.hero__text span {
  font-size: 20px;
  /* text-transform: uppercase; */
  color: #252525;
  line-height: 35px;
  /* font-weight: 700; */
  margin: 10px 0;
}

.hero__text a {
  text-decoration: none;
}
.hero__text a:hover {
  color: #ddb383
}
/* ----------------------------------------end banner----------------------------------------- */
.homepage-section {
  padding-top: 80px;
}
.infor {
  display: flex;
  flex-direction: column;
}
.infor1 {
  margin-top: auto;
  margin-bottom: auto;
}
.homepage-section__title {
  font-size: 28px;
  font-weight: bold;
  color: #6f784a;
  margin-bottom: 10px;
  text-align: center;
}

.homepage-section__content {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  font-style: italic;
}

.hp-sp {
  margin-top: auto;
  margin-bottom: auto;
}

.row{
  padding-bottom: 20px;
}

.col-md-6 img {
  border-radius: 20px;
  border: 1px solid #6f784a;
}

hr {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 30px;
}

/* *******************************************Products**************************************** */

.productList {
  padding-top: 10px;
  padding-bottom: 10px;
}

button.carousel-control-prev span {
  margin-left: -200px;
  color: #000 !important;
}

button.carousel-control-next span {
  margin-right: -200px;
  color: #b14739;
}
.hotProduct {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #7a5a36;
  padding-top: 20px;
  margin-bottom: 30px;
}

.bestseller__item {
  display: flex;
  justify-content: space-around;
	position: relative;
  background-color: var(--color3);
  width: 100%;
  border: #636363;
}

.products-card {
  width: 290px;
  margin: 10px 0 10px 0;
  text-align: center;
  background-color:  #C49F88;
  width: 100%;
  justify-content: center;
  border: #000;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.products-card:hover {
  background-color: #A27457;
  color: white ;
  cursor: pointer;
}

.products-card img {
  width: 250px;
  height: 250px;
  padding: 10px 10px 0 10px;
}
.products-card a {
  text-decoration: none;
  color: var(--text-color-1);
}

.products-card a:hover {
  font-weight: bold;
  color: var(--text-color-1);
}

.products-card hr {
  width: 70%;
  margin: auto;
}

.products-card h2 {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}

.products-card p {
  margin: 10px auto;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.products-card:hover p {
  color: #FAF1E7;
}

.products-card button {
  width: 100%;
  height: 22px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--color3);
  color: var(--text-color-1);
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.bestseller__item--card a:hover {
  text-decoration: none;
  color: var(--color3);
  font-size: 20px;
}

.bestseller__item--card h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  height: 48px;
}

.bestseller__item--card {
  font-size: 15px;
  text-align: center;
}

/* ---------------blog-------------------- */
section #posts {
  margin-top: -50px;
}
.list_news {
  margin-top: 0;
}
.list_news .post_home {
  display: -webkit-flex;
  box-shadow: 0 0 8px 2px #00000014;
  background-color: #F6F3EE;
  margin-bottom: 10px;
  border: 1px solid white;
}
.list_news .post_home .thumbnail_post {
  width: 50%;
}
.list_news .post_home .thumbnail_post img{
  width: 100%;
  display: block;
  height: 350px;
  object-fit: cover;
}
.list_news .post_home .text_post {
  width: 50%;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
.color_blue_black {
  color: #101e32
}

.doiTac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.doiTac img {
  width: 15%;
  height: auto;
  margin: 30px 10px;
}
.thumbnail_post {
  width: 65%;
}
.thumbnail_post img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.text_post {
  width: 35%;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
.text_post_detail {
  padding: 20px
}
.text_post_detail .date {
  color: #7a5a36;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}
.text_post_detail h3 a {
  color: #101e32;
  font-size: 23px;
  line-height: 120%;
}
.text_post_detail p {
  font-size: 14px;
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button_seemore_blog a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 143px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    background-color: #7a5a36;
}

.blog_cat_title {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.center{
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.dtac {
  padding: 30px;
}
