body,html {
  background-color: #d89779;
}
section {
  margin-top: 20px;
  overflow: hidden;
}
/* ++++++++++++++++++++hero+++++++++++++++++++++ */
.hero {
	padding-bottom: 50px;
}
.hero .hero__categories {
	position: relative;
}
.hero .hero__categories ul {
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}
.hero__categories__all {
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}
.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}

.hero__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
	list-style: none;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
  text-decoration: none;
}
.hero__categories ul li a:hover {
	color: #d89779;
}
.hero__item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.hero__text span {
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #b14739;
}

.hero__text h2 {
	font-size: 30px;
	text-transform: uppercase;
	/* color: #252525; */
	line-height: 35px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text p {
	margin-bottom: 35px;
	font-size: 20px;
}
.hero__text a {
	text-decoration: none;
}
.hero__text a:hover {
	color:#b14739
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/* +++++++++++++++end hero++++++++++++++++++ */

/* ++++++++++++++categories+++++++++++++++++ */
.categories__item {
	height: 270px;
	position: relative;
}

.categories__item h5 {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 20px;
	bottom: 20px;
	text-align: center;
}

.categories__item h5 a {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 12px 0 10px;
	background: #ffffff;
	display: block;
}

.categories__slider .col-lg-3 {
	max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
  font-size: 18px;
  color: #1c1c1c;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-35px);
  background: #ffffff;
  }

.categories__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -35px;
}
/* ++++++++++++++++end categories++++++++++++++++++ */

/*---------------------
  Latest Product
-----------------------*/
.latest-product {
	padding-top: 80px;
	padding-bottom: 0;
}

.latest-product__text h4 {
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
	position: absolute;
  right: 20px;
	top: -75px;
}

.latest-product__slider.owl-carousel .owl-nav button {
	height: 30px;
	width: 30px;
	background: #F3F6FA;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #636363;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
}

.latest-product__slider.owl-carousel .owl-nav button span {
	font-weight: 700;
}

.latest-product__slider.owl-carousel .owl-nav button:last-child {
	margin-right: 0;
}

.latest-product__item {
	margin-bottom: 20px;
	overflow: hidden;
	display: block;
}

.latest-product__item__pic {
	float: left;
	margin-right: 26px;
}

.latest-product__item__pic img {
	height: 110px;
	width: 110px;
}

.latest-product__item__text {
	overflow: hidden;
	padding-top: 10px;
}

.latest-product__item__text h6 {
	color: #252525;
	margin-bottom: 8px;
}

.latest-product__item__text span {
	font-size: 18px;
	display: block;
	color: #252525;
	font-weight: 700;
}
/* ---------------sản phẩm cũ--------------------- */

button.carousel-control-prev span {
  margin-left: -200px;
  color: #b14739;
}

button.carousel-control-next span {
  margin-right: -200px;
  color: #b14739;
}
.hotProduct {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #ffffff
}

.bestseller__item {
  display: flex;
  justify-content: space-around;
	position: relative;
  background-color: var(--color3);
  width: 100%;
  border: #636363;
}

.products-card img {
  width: 250px;
  height: 250px;
  padding: 10px 10px 0 10px;
}

.products-card {
  width: 290px;
  margin: 10px 0 10px 0;
  text-align: center;
  background-color: var(--primary-color);
  width: 100%;
  justify-content: center;
  border: #636363;
}

.products-card:hover {
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}

.products-card a {
  text-decoration: none;
  color: var(--text-color-1);
}

.products-card a:hover {
  font-weight: bold;
  color: var(--text-color-1);
}

.products-card hr {
  width: 70%;
  margin: auto;
}

.products-card i {
  margin: 10px auto;
  color: var(--color4);
}

.products-card button {
  width: 100%;
  height: 22px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--color3);
  color: var(--text-color-1);
  font-weight: bold;
  border: none;
  border-radius: 2px;
}

.bestseller__item--card a:hover {
  text-decoration: none;
  color: var(--color3);
  font-size: 20px;
}

.bestseller__item--card h2 {
  font-family: titleFont;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  height: 48px;
}

.bestseller__item--card {
  font-size: 15px;
  text-align: center;
}

/* ---------------blog-------------------- */
section #posts {
  background: #e0c6b0;
  padding: 60px 0;
}
.post-entry-1 {
  margin-bottom: 30px;
}
.post-entry-1 img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  overflow: hidden;
}
.post-entry-1 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}
.post-entry-1 h2 a {
  color: var(--color-black);
  text-decoration: none;
}
.post-entry-1 h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 500;
}
.post-entry-1 h4 a {
  color: var(--color-black);
  text-decoration: none;
}
.post-meta {
  font-size: 11px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: rgba(var(--color-black-rgb), 0.4);
  margin-bottom: 10px;
}
