@import '~@fortawesome/fontawesome-free/css/all.min.css';
.navbar-nav li a {
  color: #fff;
  font-weight: bold;
}
hr{
  margin: 0;
}
.dropdown-content {
  padding: 8px;
  text-align: center;
  color: #b14739;
  font-weight: bold;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.ml {
  margin-left: 25px;
}
.bg-color1 {
  background-color: #b14739;
}
.search {
  margin-right: 100px;
}
.icon-sizing2 {
  font-size: 25px;
  font-weight: bold;
}

.container-account {
  margin-left: -130px;
  border-radius: 10px;
}

