<!-- <div class="d-flex flex-row justify-content-between px-md-0 pb-3 px-3">
  <div class=" ml-auto">
      <input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </div>
</div>
<div class="card  ">
  <div class="card-header m_color_primary text-center">
      <span class="page-header my_title font-weight-lighter">{{title}}
      </span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      style="position: absolute; right: 0px;" class="text-white">
      <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onExpand()">
          <span *ngIf="!expand">
              <i class="fas fa-expand-arrows-alt "></i> Mở rộng
          </span>
          <span *ngIf="expand">
              <i class="fas fa-compress-arrows-alt"></i> Thu gọn
          </span>
      </button>
  </mat-menu>
  <div class="card-body p-0 overflow-auto">
      <div class="">
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="example-tree-progress-bar">
          </mat-progress-bar>
          <table [ngClass]="{'d-none': isLoading}" mat-table [dataSource]="dataSource" class="w-100 " matSort>
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element; let i =index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="diem">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Điểm </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.Diem}} </td>
              </ng-container>

              <ng-container matColumnDef="noidung">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nội dung </th>
                  <td mat-cell *matCellDef="let element" class="text-left"> {{element.NoiDung | textTruncate:0:50}}
                  </td>
              </ng-container>

              <ng-container matColumnDef="idsanpham">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sản phẩm </th>
                  <td mat-cell *matCellDef="let element" class="text-left">
                      {{element.TenSanPham}} </td>
              </ng-container>

              <ng-container matColumnDef="iduser">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>User </th>
                  <td mat-cell *matCellDef="let element" class="text-left"> {{element.TenUser}} </td>
              </ng-container>

              <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created_at </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
              </ng-container>
              <ng-container matColumnDef="updated_at">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated_at </th>
                  <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
              </ng-container>
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td mat-cell *matCellDef="let element">
                      <button type="button" class="btn btn-danger text-white btn-sm ml-2"
                          (click)="onDelete(element)">Delete</button>

                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

          </table>
          <mat-paginator [pageSizeOptions]="[6,10, 20,50] " showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div> -->
