.tora{
  width: 500px;
}
.required {
  color: red;
}

.new-p{
  background-color: #FAF1E7;
  margin: 10px;
  padding: 15px;
}

.new-p h1 {
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter__sort {
  display: flex;
  align-items: center;
}

.filter__sort span {
  margin-right: 10px;
}

.filter__sort select {
  width: 200px;
  margin-right: 10px;
}

.btn-primary {
  padding: 5px 10px;

}
