<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<section class="bg-color">
  <div class="containers">

      <div class="row" >
          <div class="col-md-5" *ngFor="let product of products " id="product-list">
              <div class="card">
                  <div class="card-main" >
                      <div class="discount">New</div>

                      <div class="image" (click)="DetailProduct(product)">
                        <img src="{{product.image}}">
                      </div>
                      <div class="cart-item">
                          <ul>
                            <li (click)="addToCart(product)"><a><i class="fa fa-shopping-basket" ></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content" (click)="DetailProduct(product)">
                      <a href="javascript:void(0);">{{product.productName}}</a>

                      <p><span class="money fw-bold">{{product.price  | currency: "":"": "6.0"}}đ</span></p>
                  </div>
                </div>
          </div>
      </div>
  </div>
</section>



