{{errMessage}}
<table [border]="1">
    <tr>
      <td>Product Id</td>
      <td>Product Name</td>
      <td>Description</td>
      <td>Detail</td>
      <td>Tag</td>
      <td>Price</td>
      <td>Image</td>
    </tr>

    <tbody>
      <tr *ngFor="let product of products">
      <td>{{product.productId}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.description}} </td>
      <td>{{product.productId}}</td>
      <td>{{product.tag}}</td>
      <td>{{product.price}} </td>
      <td>
      <img src="{{product.image}}" width="100px" height="100px">
      </td>
      </tr>
    </tbody>
</table>
