<main>
  <div class="row-banner">
      <img src="assets/image/About//bout-1.png" alt="ERROR">
  </div>
  <div class="row__item--left">
      <img src="assets/image/About/about-2.jpg" alt="ERROR">
      <div class="content-box">
          <h2>TÌM HIỂU VỀ NHÀ GỐM</h2>
          <p>Gốm Nhà Gốm được tạo ra từ bàn tay của những người thợ lành nghề tại Việt Nam, sử dụng vật liệu đất sét cao lanh tốt nhất và lần lượt trải qua các giai đoạn rót, gọt, dũa, tráng men và nung ở nhiệt độ cao. Sự chăm chút ở tất cả giai đoạn tạo nên giá trị của gốm amaï, từ phần nhìn cho đến cảm giác cầm nắm và trải nghiệm sử dụng. amaï được kiểm chứng an toàn sử dụng cho ngành F&B.
          </p>
      </div>
  </div>
  <div class="row__item--right">
      <img src="assets/image/About/about-4.jpg" alt="ERROR">
      <div class="content-box">
          <h2>SỨ MỆNH</h2>
          <p><b>1. Đối với khách hàng:</b> Cam kết phục vụ những sản phẩm và dịch vụ chất lượng đáp ứng nhu cầu của khách hàng.
              <b>2. Đối với nhân viên:</b> Tạo môi trường làm việc năng động cho nhân viên phát triển, tăng lương và thưởng theo năng lực, luôn coi trọng giá trị nhân viên.
              <b>3. Đối với đối tác:</b> Duy trì hoạt động bền vững, hài hòa giữa lợi ích doanh nghiệp và nhà đầu tư.
              <b>4. Đối với xã hội:</b> Bảo vệ môi trường và bảo tồn thiên nhiên trong hoạt động kinh doanh của doanh nghiệp, nỗ lực phát triển đóng góp cho xã hội.
          </p>
      </div>
  </div>
  <div class="row__item--left">
      <img src="assets/image/About/DSC01731.jpg" alt="ERROR">
      <div class="content-box">
          <h2>VAI TRÒ</h2>
          <p>Khai thác phát triển mở rộng mô hình Gốm địa điểm thu hút khách trong nước và khách nước ngoài góp phần phát triển nền kinh tế của đất nước, tạo thêm cơ hội việc làm trong xã hội.
          </p>
      </div>
  </div>
  <div class="row__item--right">
      <img src="assets/image/About/stores-1.jpg" alt="ERROR">
      <div class="content-box">
          <h2>GIÁ TRỊ CỐT LÕI</h2>
          <p><b>Hiếu khách:</b> Lấy khách hàng làm trung tâm, luôn chào mừng khách hàng nhiệt tính và thân thiện. <br>
              <b>Uy tín:</b> Đảm bảo các sản phẩm và dịch vụ có chất lượng tốt, tạo dựng niềm tin vững chắc với khách hàng. <br>
              <b>Đổi mới:</b> Xây dựng và đổi mới các sản phẩm và nâng cao chất lượng dịch vụ của công ty đúng với mong đợi của khách hàng. <br>
          </p>
      </div>
  </div>
  <div class="row__item--contact">
      <h4>MỌI THÔNG TIN QUÝ KHÁCH LIÊN HỆ NHÀ GỐM ĐỂ ĐƯỢC TƯ VẤN VÀ HỖ TRỢ DỊCH VỤ NHANH NHẤT
      </h4>
      <p>Hotline: +84 909 999 999</p>
      <p>Email: aplus@gmail.com</p>
      <p>Fanpage: fb/apluscamping&glamping</p>
      <p>Địa chỉ khu: Quốc lộ 55, xã Hưng Biển, huyện Xuyên Mộc, tỉnh Bà Rịa - Vũng Tàu</p>
  </div>
  <button onclick="topFunction()" id="btnToTop" title="Go to top"><i class="fas fa-angle-up"></i></button>
</main>
