{{errMessage}}
Nhập customerID: <input type="text" #ID>
<button (click)="getInfo(ID.value)" (click)="getPurchaseHistory(ID.value)" >Submit</button>


<div class="container">
  <div class="row my-1">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li  class="nav-item">
          <a href="/account#profile" data-bs-target="#profile" data-bs-toggle="tab" class="nav-link active" role="tab" aria-controls="#profile" aria-selected="true" id="nav-profile-tab">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/account#history" data-bs-target="#history" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="#history" aria-selected="false" id="nav-history-tab">Lịch sử mua hàng</a>
        </li>
        <li class="nav-item">
          <a href="/account#edit" data-bs-target="#edit" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="#edit" aria-selected="false" id="nav-edit-tab">Chỉnh sửa thông tin</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane show active" id="profile" >
          <h5 class="mb-3">Thông tin tài khoản</h5>
          <div class="row">
            <div class="col-md-6">
              <p class="profile-item">
                <span class="bold">Tên: </span>
                <span class="detail">{{cusInfo.customerName}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Email: </span>
                <span class="detail">{{cusInfo.customerEmail}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Số điện thoại: </span>
                <span class="detail">{{cusInfo.customerPhoneNumb}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Ngày sinh: </span>
                <span class="detail">{{cusInfo.customerBirth}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Giới tính: </span>
                <span class="detail">{{cusInfo.customerGender}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Địa chỉ: </span>
                <span class="detail">{{cusInfo.customerAddress}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="history" >
          <h5 class="mb-3">Lịch sử mua hàng</h5>
          <div class="container">
            <div class="order" *ngFor="let p of purchaseHistory">
              <div class="order-header">
                <div class="header-item">
                  <span class="order-bold">Order Number</span> <br>
                  {{p.orderId}}
                </div>
                <div class="header-item">
                  <span class="order-bold">Order Date</span> <br>
                  {{p.orderDate}}
                </div>
              </div>
              <hr>
              <table>
                <tr>
                  <th class="name">Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                </tr>
                <tr *ngFor="let item of p.orderItems">
                  <td>
                    {{item.productName}}
                  </td>
                  <td>
                    {{item.quantity}}
                  </td>
                  <td>
                    x{{item.price}}
                  </td>
                  <td>
                    {{ item.quantity * item.price }}
                  </td>
                </tr>
              </table>
              <hr>
              <div class="total">
                <span class="order-bold">Tổng cộng</span> <br>
                {{ calculateTotal(p) }}
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="edit" >
          <p>hahah</p>
        </div>
      </div>
    </div>
  </div>
</div>





