{{errMessage}}

Nhập customerID: <input type="email" #Cemail>
<button (click)="getInfo(Cemail.value)"  (click)="getPurchaseHistory(Cemail.value)">Nhập email</button>

<div class="container">
  <div class="row my-1">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li  class="nav-item">
          <a href="/account#profile" data-bs-target="#profile" data-bs-toggle="tab" class="nav-link active" role="tab" aria-controls="#profile" aria-selected="true" id="nav-profile-tab">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/account#history" data-bs-target="#history" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="#history" aria-selected="false" id="nav-history-tab">Lịch sử mua hàng</a>
        </li>
        <li class="nav-item">
          <a href="/account#edit" data-bs-target="#edit" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="#edit" aria-selected="false" id="nav-edit-tab">Chỉnh sửa thông tin</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane show active" id="profile" >
          <h5 class="mb-3">Thông tin tài khoản</h5>
          <div class="row">
            <div class="col-md-6">
              <p class="profile-item">
                <span class="bold">Tên: </span>
                <span class="detail">{{cusInfo.customerName}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Email: </span>
                <span class="detail">{{cusInfo.customerEmail}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Số điện thoại: </span>
                <span class="detail">{{cusInfo.customerPhoneNumb}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Ngày sinh: </span>
                <span class="detail">{{cusInfo.customerBirth}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Giới tính: </span>
                <span class="detail">{{cusInfo.customerGender}}</span>
              </p>
              <p class="profile-item">
                <span class="bold">Địa chỉ: </span>
                <span class="detail">{{cusInfo.customerAddress}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="history" >
          <h5 class="mb-3">Lịch sử mua hàng</h5>
          <div class="container">
            <div class="order" *ngFor="let p of purchaseHistory">
              <div class="order-header">
                <div class="header-item">
                  <span class="order-bold">Order Number</span> <br>
                  {{p.orderId}}
                </div>
                <div class="header-item">
                  <span class="order-bold">Order Date</span> <br>
                  {{p.orderDate}}
                </div>
              </div>
              <hr>
              <table>
                <tr>
                  <th class="name">Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                  <th>Thành tiền</th>
                </tr>
                <tr *ngFor="let item of p.orderItems">
                  <td>
                    {{item.productName}}
                  </td>
                  <td>
                    {{item.quantity}}
                  </td>
                  <td>
                    x{{item.price}}
                  </td>
                  <td>
                    {{ item.quantity * item.price }}
                  </td>
                </tr>
              </table>
              <hr>
              <div class="total">
                <span class="order-bold">Tổng cộng</span> <br>
                {{ calculateTotal(p) }}
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="edit" >
          <div class="container">
            <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
              <div class="card-body">
                <div class="account-settings">
                  <div class="user-profile">
                    <div class="user-avatar">
                      <img src="assets/image/user_avatar.png" alt="Maxwell Admin">
                    </div>
                    <h6 class="user-name">{{cusInfo.customerName}}</h6>
                    <p class="user-email">{{cusInfo.customerEmail}}</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
              <div class="alert alert-success" *ngIf="successMsg" role="alert">
                {{successMsg}}
                <button type="button" class="close" (click)="hideSuccessMsg()">&times;</button>
              </div>
            <div class="card h-100">
              <form #infoForm="ngForm" novalidate>
              <div class="card-body">
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Thông tin cá nhân</h6>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerName">Tên</label>
                      <input type="text" class="form-control" #name="ngModel" name="customerName" id="customerName" value="{{cusInfo.customerName}}" [(ngModel)]="aCus.customerName" required>
                      <small class="text-danger" *ngIf="name.invalid && name.touched">Thông tin này là bắt buộc.</small>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerEmail">Email</label>
                      <input type="email" class="form-control" id="customerEmail" #email="ngModel" name="customerEmail" value="{{cusInfo.customerEmail}}" [(ngModel)]="aCus.customerEmail" required (input)="checkEmail()">
                      <small class="text-danger" *ngIf="email.invalid && email.touched">Thông tin này là bắt buộc.</small>
                      <small class="text-danger" *ngIf="emailExist">Email này đã được sử dụng.</small>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerPhoneNumb">Phone</label>
                      <input type="text" class="form-control" id="customerPhoneNumb" #phone="ngModel" name="customerPhoneNumb" value="{{cusInfo.customerPhoneNumb}}" [(ngModel)]="aCus.customerPhoneNumb" required>
                      <small class="text-danger" *ngIf="phone.invalid && phone.touched">Thông tin này là bắt buộc.</small>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerAddress">Địa chỉ</label>
                      <input type="text" class="form-control" id="customerAddress" name="customerAddress" #address="ngModel" value="{{cusInfo.customerAddress}}" [(ngModel)]="aCus.customerAddress" required>
                      <small class="text-danger" *ngIf="address.invalid && address.touched">Thông tin này là bắt buộc.</small>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerGender">Giới tính</label>
                      <input type="text" class="form-control" id="customerGender" name="customerGender" #name="ngModel" value="{{cusInfo.customerGender}}" [(ngModel)]="aCus.customerGender">
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                      <label for="customerBirth">Ngày sinh</label>
                      <input type="date" class="form-control" id="customerBirth" name="customerBirth" #birth="ngModel" value="{{cusInfo.customerBirth}}" [(ngModel)]="aCus.customerBirth" required>
                      <small class="text-danger" *ngIf="birth.invalid && birth.touched">Thông tin này là bắt buộc.</small>
                    </div>
                  </div>
                </div>
                <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                      <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="updateCusInfo(Cemail.value)" (click)="getInfo(Cemail.value)" (click)="getPurchaseHistory(Cemail.value)" [disabled]="emailExist || infoForm.invalid">Update</button>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
            </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





