.profile-item{
  display: flex;
}
.bold{
  font-weight: bold;
  flex: 1;
  text-align: left;
}
.detail{
  flex: 2;
}
.order {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border: 1px solid black;
  padding: 20px 10px;
  margin: 20px 0;
}
.order-header {
  display: flex;
  justify-content: space-between;
}
table{
  width: 100%;
}
.name{
  width: 50%;
}
.order-bold {
  font-weight: bold;
}
.total {
  text-align: right;
}
.my-1{
  margin-left: auto;
  margin-right: auto;
}
.col-lg-8 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


body {
  margin: 0;
  padding-top: 40px;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar image {
  width: 64px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
