<form [formGroup]="logForm" *ngIf="currentStep === 1">
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto bg-color">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1">
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img src="assets/image/register_login.jpg" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3 panel-heading">
              <h3 class="text-center">Nhập email của bạn</h3>
            </div>
            <div class="row px-3">
              <label class="mb-1">
                <h6 class="mb-0 text-sm" for="email">Email</h6>
              </label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Nhập địa chỉ email" formControlName="email" #c_email [class.is-invalid]="logForm.controls['email'].invalid && logForm.controls['email'].touched" (onblur)="checkEmail()" [(ngModel)]="customer.customerEmail">
              <div *ngIf="logForm.controls['email'].errors && (logForm.controls['email'].invalid || logForm.controls['email'].touched)">
                <small class="text-danger" *ngIf="logForm.controls['email'].errors['required']" [class.d-none]="logForm.controls['email'].valid || logForm.controls['email'].untouched">Email không được để trống</small>
                <small class="text-danger" *ngIf="logForm.controls['email'].errors['email']">Email không hợp lệ</small>
                <small class="text-danger" *ngIf="!emailExist && logForm.controls['email'].touched">Email không tồn tại</small>
              </div>
            </div>
            <div class="row mb-3 px-3">
              <button type="button" class="btn btn-primary btn-block mt-3" [disabled]="logForm.controls['email'].invalid || !emailExist || currentStep !== 1" (click)="goToStep(2)">Gửi</button>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="logForm" *ngIf="currentStep === 2">
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto bg-color">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1">
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img src="assets/image/register_login.jpg" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3 panel-heading">
              <h3 class="text-center">Nhập mã xác nhận</h3>
            </div>
            <div class="row px-3">
              <label class="mb-1">
                <h6 class="mb-0 text-sm" for="code">Mã xác nhận</h6>
              </label>
              <input type="text" class="form-control" name="code" id="code" placeholder="Nhập mã xác nhận" formControlName="code" #c_code [class.is-invalid]="logForm.controls['code'].invalid && logForm.controls['code'].touched" [(ngModel)]="code">
              <div *ngIf="logForm.controls['code'].invalid && logForm.controls['code'].touched">
                <small class="text-danger" *ngIf="logForm.controls['code'].errors?.['required']">Mã xác nhận không được để trống</small>
                <small class="text-danger" *ngIf="logForm.controls['code'].errors?.['pattern']">Mã xác nhận không hợp lệ</small>
              </div>
            </div>
            <div class="row mb-3 px-3">
              <button type="button" class="btn btn-primary btn-block mt-3" [disabled]="logForm.controls['code'].invalid" (click)="goToStep(3)">Gửi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="logForm" *ngIf="currentStep === 3" (ngSubmit)="onSubmit(customer.customerEmail)">
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto bg-color">
    <div class="card card0 border-0">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="card1">
            <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
              <img src="assets/image/register_login.jpg" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3 panel-heading">
              <h3 class="text-center">Nhập lại mật khẩu mới</h3>
            </div>
            <div class="row px-3">
              <label class="mb-1">
                <h6 class="mb-0 text-sm" for="password">Mật khẩu mới</h6>
              </label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Nhập Mật khẩu" formControlName="password" [class.is-invalid]="logForm.controls['password'].invalid && logForm.controls['password'].touched" [(ngModel)]="customer.password">
              <div *ngIf="logForm.controls['password'].invalid && logForm.controls['password'].touched">
                <small class="text-danger" *ngIf="logForm.controls['password'].errors?.['required']">Mật khẩu không được để trống</small>
                <small class="text-danger" *ngIf="logForm.controls['password'].errors?.['minlength']">Mật khẩu phải có ít nhất 6 ký tự</small>
              </div>
            </div>
            <div class="row mb-3 px-3">
              <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="logForm.invalid || currentStep !== 3" data-toggle="modal" data-target="#myModal">Đổi mật khẩu</button>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đổi mật khẩu</h4>
      </div>
      <div class="modal-body">
        <p>Tài khoản của bạn đã được đổi mật khẩu thành công</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goLoginPage()">Đi đến trang đăng nhập</button>
      </div>
    </div>
  </div>
</div>


