 <form [formGroup]="regForm">
 <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto bg-color">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 ">
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                  <img src="assets/image/register_login.jpg" class="img-fluid">
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                <h3 class="text-center">Đăng ký tài khoản</h3>
                  <div class="row px-3">
                      <label class="mb-1"><h6 class="mb-0 text-sm" for="name">Họ và tên</h6></label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên" formControlName="name" [class.is-invalid]="regForm.controls['name'].invalid && regForm.controls['name'].touched" [(ngModel)]="customer.customerName">
                      <div *ngIf="regForm.controls['name'].invalid && regForm.controls['name'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['name'].errors?.['required'] ">Tên không được để trống</small>
                        <small class="text-danger" *ngIf="regForm.controls['name'].errors?.['minlength']">Tên phải tồn tại ít nhất 3 ký tự </small>
                        <small class="text-danger" *ngIf="name.errors?.['nameNotMatch']">Tên không được chứa ký tự đặc biệt</small>
                      </div>
                  </div>
                  <div class="row px-3">
                    <label class="mb-1">
                      <h6 class="mb-0 text-sm" for="gender">Giới tính</h6>
                    </label>
                    <select type="text" class="form-select form-control" name="gender" id="gender" formControlName="gender" [class.is-invalid]="errFlag && regForm.controls['gender'].touched" (blur)="validateGender(regForm.controls['gender'].value)" [(ngModel)]="customer.customerGender">
                      <option value="Nam">Nam</option>
                      <option value="Nữ">Nữ</option>
                    </select>
                    <small class="text-danger" [class.d-none]="!errFlag || regForm.controls['gender'].untouched ">Giới tính không được để trống</small>
                  </div>
                  <div class="row px-3">
                    <label class="mb-1">
                      <h6 class="mb-0 text-sm" for="birth">Ngày sinh</h6>
                    </label>
                    <input type="date" class="form-control" name="birth" id="birth" placeholder="Nhập ngày sinh" formControlName="birth" [class.is-invalid]="regForm.controls['birth'].invalid && regForm.controls['birth'].touched" [(ngModel)]="customer.customerBirth">
                    <div *ngIf="regForm.controls['birth'].invalid && regForm.controls['birth'].touched">
                      <small class="text-danger" *ngIf="regForm.controls['birth'].errors?.['required'] ">Ngày sinh không được để trống</small>
                    </div>
                  </div>
                  <div class="row px-3">
                    <label class="mb-1">
                      <h6 class="mb-0 text-sm" for="email">Email</h6>
                    </label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           placeholder="Nhập địa chỉ email"
                           formControlName="email"
                           [class.is-invalid]="regForm.controls['email'].invalid && regForm.controls['email'].touched"
                           (blur)="checkEmail()"
                           [(ngModel)]="customer.customerEmail">
                    <div *ngIf="regForm.controls['email'].errors && (regForm.controls['email'].invalid || regForm.controls['email'].touched)">
                      <small class="text-danger" *ngIf="regForm.controls['email'].errors['required']" [class.d-none]="regForm.controls['email'].valid || regForm.controls['email'].untouched">Email không được để trống</small>
                      <small class="text-danger" *ngIf="regForm.controls['email'].errors['email']">Email không hợp lệ</small>
                      <small class="text-danger" *ngIf="regForm.controls['email'].errors?.['emailExist'] && regForm.controls['email'].touched">Email này đã được sử dụng.</small>
                    </div>
                  </div>
                  <!-- <div class="row px-3">
                    <label class="mb-1">
                      <h6 class="mb-0 text-sm" for="email">Email</h6>
                    </label>
                    <input type="email" [email]="true" class="form-control" name="email" id="email" placeholder="Nhập địa chỉ email" formControlName="email" [class.is-invalid]="regForm.controls['email'].invalid && regForm.controls['email'].touched" (blur)="checkEmail()" [(ngModel)]="customer.customerEmail">
                    <div *ngIf="regForm.controls['email'].errors && (regForm.controls['email'].invalid || regForm.controls['email'].touched)">
                      <small class="text-danger" *ngIf="regForm.controls['email'].errors['required'] " [class.d-none]="regForm.controls['email'].valid || regForm.controls['email'].untouched
                        ">Email không được để trống</small>
                      <small class="text-danger" *ngIf="regForm.controls['email'].errors['email']">Email không hợp lệ</small>
                      <small class="text-danger" *ngIf="regForm.controls['email'].hasError('emailExist')">Email này đã được sử dụng.</small>                    </div>
                  </div> -->
                    <div class="row px-3">
                      <label class="mb-1">
                        <h6 class="mb-0 text-sm" for="phone">Số điện thoại</h6>
                      </label>
                      <input type="text" class="form-control" name="phone" id="phone" placeholder="Nhập số điện thoại" formControlName="phone"  [class.is-invalid]="regForm.controls['phone'].invalid && regForm.controls['phone'].touched"[(ngModel)]="customer.customerPhoneNumb">
                      <div *ngIf="regForm.controls['phone'].invalid && regForm.controls['phone'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['phone'].errors?.['required'] ">Số điện thoại không được để trống</small>
                        <small class="text-danger" *ngIf="regForm.controls['phone'].errors?.['minlength']">Số điện thoại phải đủ 10 ký tự </small>
                      </div>
                    </div>
                    <div class="row px-3">
                      <label class="mb-1">
                        <h6 class="mb-0 text-sm" for="address">Địa chỉ</h6>
                      </label>
                      <input type="text" class="form-control" name="address" id="address" placeholder="Nhập địa chỉ" formControlName="address" [class.is-invalid]="regForm.controls['address'].invalid && regForm.controls['address'].touched" [(ngModel)]="customer.customerAddress">
                      <div *ngIf="regForm.controls['address'].invalid && regForm.controls['address'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['address'].errors?.['required'] ">Địa chỉ không được để trống</small>
                      </div>
                    </div>
                    <div class="row px-3">
                      <label class="mb-1">
                        <h6 class="mb-0 text-sm" for="password">Mật khẩu</h6>
                      </label>
                      <input type="password" class="form-control" name="password" id="password" placeholder="Nhập Mật khẩu" formControlName="password" [class.is-invalid]="regForm.controls['password'].invalid && regForm.controls['password'].touched" [(ngModel)]="customer.password">
                      <div *ngIf="regForm.controls['password'].invalid && regForm.controls['password'].touched">
                        <small class="text-danger" *ngIf="regForm.controls['password'].errors?.['required'] ">Mật khẩu không được để trống</small>
                      </div>
                    </div>
                    <div class="row px-3">
                      <label class="mb-1">
                        <h6 class="mb-0 text-sm" for="retype_password">Nhập lại mật khẩu</h6>
                      </label>
                      <input type="password" class="form-control" id="retype_password" formControlName="confirmPass" [class.is-invalid]="regForm.controls['confirmPass'].errors?.['misMatch']" placeholder="Nhập lại mật khẩu">
                      <small class="text-danger" *ngIf="regForm.controls['confirmPass'].errors?.['misMatch']">Mật khẩu không trùng khớp</small>
                    </div>
                    <br>
                    <div class="row mb-3 px-3">
                      <button (click)="postCustomers()" type="submit" class="btn btn-primary" [disabled]="regForm.invalid" data-toggle="modal" data-target="#myModal">Đăng ký</button>
                    </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
</form>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đăng ký</h4>
      </div>
      <div class="modal-body">
        <p>Tài khoản của bạn đã được đăng ký thành công</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goToLoginPage()">Đi đến trang đăng nhập</button>
      </div>
    </div>
  </div>
</div>
