<!-- Boostrap Css


<script src="../../assets/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script> -->
<!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"> -->

<script src="../../assets/jquery/jquery.min.js"></script>
<script src="../../assets/css/bootstrap-reboot.min.css"></script>

<script src="../../assets/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

<div >
  <nav aria-label="breadcrumb col-md-12">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!/homePage">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="#!/productAll">Danh mục</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{product.productName}}</li>
      </ol>
  </nav>

  <div class="chitiet fadeIn">
      <div class="container-fluid" >
          <div class="row">

              <div class="hinhchitiet col-md-5 col-sm-12 col-12">
                  <div class="hinhdetail">
                      <ul>
                          <li>{{product.image}}</li>
                      </ul>

                  </div>
              </div>
              <div class="motachitiet col-md-7 col-sm-12 col-12">
                  <div class="prodcut-title">
                  <h4>{{product.productName}}</h4>
                      <span>
                          <div id="myToast" class="toast" data-delay=2000 role="alert" aria-live="assertive" aria-atomic="true">
                              <div class="toast-header">
                                <strong class="mr-auto"> Sân Gốm  <i class="bi bi-check-circle"></i></strong>
                              </div>
                              <div class="toast-body">
                                Thêm vào giỏ hàng thành công
                              </div>
                       </div>
                      </span>
                  </div>
                  <div class="product-price">
                      <span id="price">{{product.price}}</span>
                  </div>
                  <form action="">
                      <div class="quantity-btn">
                          <input type="button" value="-" ng-click="minusQuantity()" class="qty-btn">
                          <!-- <input type="number" min=1 name="" id="quantity" value="{{num}}" min="1" max="100" readonly><br/> -->
                          <input type="button" value="+" ng-click="plusQuantity()" class="qty-btn">
                      </div>
                      <div class="add">
                          <div class="quantity">

                          </div>
                          <div class="addcard">

                              <a type="button" ng-click="addProduct()" id="add-to-cart" data-ride="carousel" >Thêm vào giỏ</a>
                          </div>
                      </div>
                  </form>
                  <div class="product-descript">
                          <h6>Mô tả</h6>
                      <div class="descript-content-1">
                          <p>{{product.description}}</p>
                      </div>
                      <h6>Thông tin chi tiết</h6>
                      <div class="descript-content-2">
                          <p>
                                  {{product.detail[0]}}
                              <br>{{product.detail[1]}}
                              <br>{{product.detail[2]}}
                              <br>{{product.detail[3]}}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
