.product{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    /* box-shadow: 0px 2px 2px 1px rgba(71, 71, 71, 0.52); */
    position: relative;
    background: #e0c6b0;
    padding: 20px;
    border-radius: 10px;
  }

/*
  .sale-price{
    position: absolute;
    top: 40px;
    left: 0;
    background: #ff4000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 12px;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    width: 260px;
    text-align: center;
  }

  .selling-col-1{
    width: 16%;
    display: inline-block;
    vertical-align: middle;
  } */


  .zoom img{
    display: inline-block;
    vertical-align: middle;
    /* box-shadow: 0px 1px 3px 1px rgba(71, 71, 71, 0.52);
    transition: transform .2s;  */
    transition: all 0.8s;

  }

  .zoom:hover img{
    /* transform: scale(1.1); */
    transform: scale(1.06);

  }

  /* .selling-col-2  */
  .col-md-7 .col-md-5 {
    width: 42%;
    display: inline-block;
    vertical-align: middle;
    background: #e0c6b0;
  }

  /* .selling-left ul{
    padding: 0;
    margin: 0;
  }

  .selling-left ul li{
    display: block;
    padding: 22px;
    text-align: center;
    background: #f5f5f5;
    border-bottom: 1px solid #dbdbdb;
  }

  .selling-left ul li:first-child{
    border-top-left-radius: 10px;
    padding-top: 130px;
  }

   .selling-left ul li:last-child{
    border-bottom: none;
    border-bottom-left-radius: 10px;
  }

  .selling-left ul li .count-date{
      color:#eee;
      font-size: 30px;
      font-weight: 800;
      display: block;
      letter-spacing: 0.6px;
  }

  .selling-left ul li .count-day{
    color: #555;
    display: block;
    font-size: 18px;
  } */

.text{
  font-size: 16px;
}

  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .selling-heading {
    padding-bottom: 20px;
    border-bottom: 1px solid #d89779;

  }

  .selling-heading a {
    color: #78302b;
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
  }

  .selling-heading a:hover{ color:  #752b3a;}
  .selling-rating{ margin-top: 4px;}
  .selling-rating i{
    color: #d89779;
    margin-right: 4px;
    font-size: 18px;
  }

  .text{
    margin:  20px 0 15px;
  }


   p{
    color: #777;
    line-height: 22px;
    margin: 22px 0;
  }

  h3 .selling-amount {
    font-weight: 700;
    font-size: 26px;
    color: #78302b;
  }



  .selling-button{
    margin-top: 34px;
  }

  .cart-btn{
      background: #78302b;
      color: #fff;
      text-decoration: none; margin-right: 14px;
      text-transform: uppercase;
      padding: 12px 34px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      display: inline-block;
      transition: all .3s ease;
  }

  .cart-btn:hover{
    background: #7b352d;
  }

  .cart-btn i {
    margin-right: 4px;
  }

  .form-group{
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 100px;
  }

  .main-button{
    border: none;
    outline: none;
    text-align: center;
    background:#000;
    padding: 11px 10px;
    border-radius: 4px;
  }

  .main-button a {
    background:#000;
    padding: 11px 10px;
    border-right: 1px solid rab(73,73,73);
  }

  .main-button a:last-child{
    border-right: none;
  }
  .main-button i{ color: #fff;}

  .main-button a:hover{ background: #7b352d;}
