
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Hero Section Begin -->
<section class="product-details spad">
<div class="row product" >
  <div class="col-md-5 col-sm-12 col-12" >
    <img class="zoom" src="{{product.image}}">
  </div>
  <div class="col-md-7 col-sm-12 col-12">
    <div class="selling-heading">
      <a href="javascript:void(0);">{{product.productName}}</a>

    </div>

    <div class="text">
        <b class="tlt">Mô tả</b>
        <br>
        <span>{{product.description}}</span>
    </div>

    <div class="text">
        <b class="tlt">Thông tin sản phẩm</b>
        <br>
        <span>Mã sản phẩm: {{product.productId}}</span><br>
        <span>Kích thước: {{product.size}}</span><br>
        <span>Đặc điểm: {{product.trait}}</span><br>
    </div>

        <h3>
          <span class="selling-amount">{{product.price | currency: "":"": "6.0"}}đ</span>
        </h3>

      <div class="selling-button">
          <div class="form-group quantity"> <input type="number"  min="1" max="20" class="form-control " id="quantity" name="quantity" [(ngModel)]="quantity"/> </div>

          <a href="javascript:void(0);" class="cart-btn" (click)="addToCart(product, quantity)" ><i class="fa fa-shopping-cart"></i> Add To Cart</a>
      </div>

  </div>
</div>

  <!-- Product Details Section Begin -->
      <div class="container">
          <div class="row">

              <div class="col-lg-12">
                  <div class="product__details__tab">
                      <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                  aria-selected="true">Thông tin</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                  aria-selected="false">Xuất xứ</a>
                          </li>
                      </ul>
                      <div class="tab-content">
                          <div class="tab-pane active" id="tabs-1" role="tabpanel">
                              <div class="product__details__tab__desc">
                                  <p>Gốm là một loại vật liệu được làm từ đất sét, sau đó được nung trong lò nung ở nhiệt độ cao để tạo ra các sản phẩm như chén, đĩa, bát, ly, và các vật dụng khác. Gốm có một lịch sử lâu đời, được sử dụng từ thời đại đồ đá cũ để làm đồ dùng hàng ngày và trang trí.</p>
                                  <p>Các loại đất sét được sử dụng để làm gốm thường được tìm thấy ở các khu vực có địa chất phù hợp. Sau khi đất sét được thu thập và làm sạch, nó được nhào và định hình để tạo ra hình dạng mong muốn. Sau đó, sản phẩm được sấy khô và nung trong lò nung với nhiệt độ cao để tạo ra sự cứng cáp và bền bỉ.</p>
                                  <p> Gốm được sản xuất và sử dụng trên khắp thế giới, có nhiều phong cách và kỹ thuật sản xuất khác nhau. Gốm có thể được trang trí bằng nhiều cách khác nhau, bao gồm sơn, khắc, in hoa văn, hoặc nặn các hình dạng phức tạp. Sản phẩm gốm có thể được sử dụng để ăn uống, trang trí, hoặc làm quà tặng.</p>
                              </div>
                          </div>
                          <div class="tab-pane" id="tabs-2" role="tabpanel">
                              <div class="product__details__tab__desc">
                                    <ul>
                                    <li><b>Gốm thời tiền sử:</b> Có niên đại từ hàng ngàn năm TCN, được tìm thấy ở các di chỉ khảo cổ như Hoà Bình, Bắc Sơn.</li>
                                    <li><b>Gốm đồng Sơn Việt:</b> Phát triển vào khoảng 700-200 TCN, chịu ảnh hưởng từ văn hóa Đông Sơn. Có các dòng sản phẩm chủ yếu là gốm dùng trong sinh hoạt hằng ngày.</li>
                                    <li><b>Gốm Lý - Trần:</b> Phát triển mạnh từ thế kỷ 11 đến 14, đạt đỉnh cao về kỹ thuật và nghệ thuật, sản xuất ra nhiều sản phẩm gốm cao cấp phục vụ cho hoàng gia và tầng lớp thượng lưu.</li>
                                    <li><b>Gốm sứ Bát Tràng:</b> Ra đời và phát triển từ thế kỷ 17, sử dụng kỹ thuật làm gốm và trang trí tinh xảo, sản xuất nhiều loại gốm sứ cao cấp xuất khẩu.</li>
                                    <li><b>Gốm sứ Hương Canh:</b> Xuất hiện từ thế kỷ 19, được hình thành trên cơ sở kết hợp giữa kỹ thuật Bát Tràng và Pháp, sản xuất gốm sứ xuất khẩu chủ yếu sang thị trường châu Âu.</li>
                                    </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Product Details Section End -->

  <!-- Related Product Section Begin -->
  <section class="related-product">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title related__product__title">
                      <h2>Sản phẩm tương tự</h2>
                  </div>
              </div>
          </div>
          <div class="row">
                <div class="col-md-3"  *ngFor="let pro of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" >
                  <div class="card"  >
                          <div class="card-main" >
                              <div class="image" (click)="DetailProduct(product)">
                                <img src="{{pro.image}}">
                              </div>
                              <div class="cart-line" (click)="DetailProduct(product)"></div>
                              <div class="cart-item">
                                  <ul>
                                      <li (click)="addToCart(product,1)"><a><i class="fa fa-shopping-basket" ></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="content" (click)="DetailProduct(product)">
                              <a href="javascript:void(0);">{{pro.productName}}</a>
                              <p><span class="money fw-bold">{{pro.price  | currency: "":"": "6.0"}}đ</span></p>
                          </div>
                      </div>
                  </div>
          </div>

          <div class="page">
            <pagination-controls (pageChange)="p = $event" previousLabel=""
            nextLabel=""> </pagination-controls>
          </div >
      </div>
  </section>
  <!-- Related Product Section End -->
