<p>blog works!</p>
{{errMessage}}
<section id="posts" class="posts">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-8">
        <div class="row g-5">
          <div class="col-lg-4 border-start custom-border" *ngFor="let blog of blogs">
            <div class="post-entry-1">
              <a style="cursor:pointer" [routerLink]="'/blog-detail'">
                <img src="{{blog.imgTitle}}" alt="" class="img-fluid"  style="height:150px;width: 225px;">
              </a>
              <div class="post-meta"><span class="date">{{blog.blogName}}</span></div>
              <h4><a style="cursor:pointer" [routerLink]="'/blog-detail'">{{blog.blogTitle}}</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="trending">
          <h3>Trending</h3>
          <ul class="trending-post" *ngFor="let blog of blogs.slice(0,6)">
            <li>
              <a style="cursor:pointer" [routerLink]="'/blog-detail'">
                <h3>{{blog.blogTitle}}</h3>
                <span class="author">{{blog.blogName}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

