{{errMessage}}
  <div class="blog_cat_title">
    <h1 class="hotBlog">TẢN MẠN VỀ GỐM</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 newws" *ngFor="let blog of blogs.slice(0,6)">
        <div class="thumbnail_post">
          <a (click)="detailBlog(blog)"><img src="{{blog.imgTitle}}"></a>
        </div>
        <div class="text_post">
          <div class="text_post_detail">
            <div class="date">{{blog.blogName}}</div>
            <h3 class="color_blue_black"><a>{{blog.blogTitle}}</a></h3>
            <div class="date">{{blog.blogDate}}</div>
            <p>
              {{blog.shortContent}}
            </p>
            <div class="button_seemore_blog">
              <a (click)="detailBlog(blog)">Xem Thêm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog_cat_title">
    <h1 class="hotBlog">CHUYỆN NGHỀ CHUYỆN GỐM</h1>
  </div>
  <div class="list_news">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-mg-6" *ngFor="let blog of blogs.slice(6,19)">
          <div class="post_home">
            <div class="thumbnail_post">
              <a (click)="detailBlog(blog)"><img src="{{blog.imgTitle}}"></a>
            </div>
            <div class="text_post">
              <div class="text_post_detail">
                <div class="date">{{blog.blogDate}}</div>
                <h3 class="color_blue_black"><a>{{blog.blogTitle}}</a></h3>
                <p>{{blog.shortContent}}</p>
                <div class="button_seemore_blog">
                  <a (click)="detailBlog(blog)">Xem Thêm</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
