<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
  <div class="input-group my-3">
    <input type="text" class="form-control" placeholder="Tìm kiếm" [(ngModel)]="searchText" (keydown.enter)="searchBlogs()">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2" (click)="searchBlogs()">Tìm kiếm</button>
    </div>
    <button (click)="toggleForm()">Thêm Blog</button>
  </div>

  <!-- Thêm phần tìm kiếm theo thời gian -->
  <div class="input-group mb-3">
    <input type="date" class="form-control" placeholder="Từ ngày" [(ngModel)]="startDate">
    <input type="date" class="form-control" placeholder="Đến ngày" [(ngModel)]="endDate">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2" (click)="searchByDate()">Tìm kiếm theo thời gian</button>
    </div>
  </div>
  <div class="filter__item">
    <div class="row">

        <div class="col-lg-4 col-md-3 input-group" >
            <div class="filter__sort" >
                <b><span for="sort">Sắp xếp theo:</span></b>
                <select  style="height: 35px" name=" " id="sort" [(ngModel)]="sortOrder"  [disabled]="sortOrder === 'Disabled'">
                  <option value=" " disabled>--Sắp xếp--</option>
                  <option value="name-asc">Tên A-Z</option>
                  <option value="name-desc">Tên Z-A</option>
              </select>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 input-group">
          <button class="btn btn-primary"  type="button" id="button-addon2"  (click)="reset()">Xóa bộ lọc</button>
        </div>

    </div>
  </div>
  <div *ngIf="showForm" class="new-p">
    <h1 class="mt-5">Thêm blog mới</h1>
    <form (ngSubmit)="onSubmit()" class="mt-4">
      <div class="form-group">
        <label for="blogId">Blog ID:</label><span class="required">*</span>
        <input type="text" class="form-control" #blogId="ngModel" id="blogId" [(ngModel)]="newBlog.blogId" name="blogId" required (blur)="checkProduct(newBlog.blogId)">
        <small class="text-danger" *ngIf="result">Blog Id đã tồn tại!</small>
        <small class="text-danger" *ngIf="blogId.invalid && blogId.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="blogName">Blog Name:</label><span class="required">*</span>
        <input type="text" class="form-control" #blogName="ngModel" id="blogName" [(ngModel)]="newBlog.blogName" name="blogName" required>
        <small class="text-danger" *ngIf="blogName.invalid && blogName.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="blogTitle">Blog title:</label><span class="required">*</span>
        <input class="form-control" id="blogTitle" #blogTitle="ngModel" [(ngModel)]="newBlog.blogTitle" name="blogTitle">
        <small class="text-danger" *ngIf="blogTitle.invalid && blogTitle.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="shortContent">Short content:</label><span class="required">*</span>
        <textarea class="form-control" #shortContent="ngModel" id="shortContent" [(ngModel)]="newBlog.shortContent" name="shortContent" required></textarea>
        <small class="text-danger" *ngIf="shortContent.invalid && shortContent.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="image">Image:</label><span class="required">*</span>
        <input  #imgTitle="ngModel" type="file" class="form-control"
        #name="ngModel" name="imgTitle" id="imgTitle"   [(ngModel)]="newBlog.imgTitle"
        (change)="onFileSelected($event, newBlog)" required>
        <small class="text-danger" *ngIf="imgTitle.invalid && imgTitle.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="content1">Content1:</label><span class="required">*</span>
        <textarea class="form-control" #content1="ngModel" id="content1" [(ngModel)]="newBlog.content1" name="content1" required></textarea>
        <small class="text-danger" *ngIf="content1.invalid && content1.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="content2">Content2:</label><span class="required">*</span>
        <textarea class="form-control" #content2="ngModel" id="content2" [(ngModel)]="newBlog.content2" name="content2" required></textarea>
        <small class="text-danger" *ngIf="content2.invalid && content2.touched">Thông tin này là bắt buộc.</small>
      </div>
      <div class="form-group">
        <label for="content3">Content3:</label><span class="required">*</span>
        <textarea class="form-control" #content3="ngModel" id="content3" [(ngModel)]="newBlog.content3" name="content3" required></textarea>
        <small class="text-danger" *ngIf="content3.invalid && content3.touched">Thông tin này là bắt buộc.</small>
      </div>
      <button type="submit" class="btn btn-primary" (keydown.enter)="onSubmit()" [disabled]="disable">Save</button>
    </form>
  </div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>STT</th>
        <th>Blog ID</th>
        <th>Blog name</th>
        <th class="width">Title</th>
        <th>Create Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of blogs | sortBlogs: sortOrder  ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ b.blogId }}</td>
        <td>{{ b.blogName }}</td>
        <td class="width">{{ b.blogTitle }}</td>
        <td>{{ b.blogDate }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="editBlog(b,editblogModal)">Sửa</button>
          <button class="btn btn-danger" (click)="deleteBlog(b.blogId)">Xóa</button>
          <button class="btn btn-info" (click)="showBlogDetails(b, blogModal)">Chi tiết</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #blogModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h4 class="modal-title">{{selectedBlog.productName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Blog ID:</strong> {{selectedBlog.blogId}}</p>
        <p><strong>Blog name:</strong> {{selectedBlog.blogName}}</p>
        <p><strong>Blog title:</strong> {{selectedBlog.blogTitle}}</p>
        <p><strong>Image:</strong> <img src="{{selectedBlog.imgTitle}}" height="100px"></p>
        <p><strong>Short content:</strong> {{selectedBlog.shortContent}}</p>
        <p><strong>content1:</strong> {{selectedBlog.content1}}</p>
        <p><strong>content2:</strong> {{selectedBlog.content2}}</p>
        <p><strong>content3:</strong> {{selectedBlog.content3}}</p>
        <p><strong>Create Date:</strong> {{selectedBlog.blogDate}}</p>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #editblogModal>
  <div class="modal-dialog modal-dialog-centered modal-lg rounded-0 trongSuot">
    <div class="modal-content tora">
      <div class="modal-header bg-info text-white" >
        <h4 class="modal-title">Sửa sản phẩm</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="isFormInvalid">
          Bạn cần nhập đầy đủ thông tin.
        </div>
        <form>
          <div class="form-group">
            <label for="blogId">Blog ID:</label><span class="required">*</span>
            <input type="text" class="form-control" id="blogId" name="blogId" [(ngModel)]="selectedBlog.blogId" readonly>
          </div>
          <div class="form-group">
            <label for="blogName">Blog name:</label><span class="required">*</span>
            <input type="text" class="form-control" id="blogName" name="blogName" [(ngModel)]="selectedBlog.blogName" required>
          </div>
          <div class="form-group">
            <label for="blogTitle">Blog title:</label><span class="required">*</span>
            <input type="text" class="form-control" id="blogTitle" name="blogTitle" [(ngModel)]="selectedBlog.blogTitle" required>
          </div>
          <div class="form-group">
            <label for="imgTitle">Image:</label><span class="required">*</span>
            <img src="{{selectedBlog.imgTitle}}" height="100px">
            <input  #imgTitle="ngModel" type="file" class="form-control"
            #name="ngModel" name="imgTitle" id="imgTitle"   [(ngModel)]="selectedBlog.imgTitle"
            (change)="onFileSelected($event, selectedBlog)" >
          </div>
          <div class="form-group">
            <label for="shortContent">Short content:</label><span class="required">*</span>
            <input type="text" class="form-control" id="shortContent" name="shortContent" [(ngModel)]="selectedBlog.shortContent" required>
          </div>
          <div class="form-group">
            <label for="content1">Content1:</label><span class="required">*</span>
            <textarea type="text" class="form-control" id="content1" name="content1" [(ngModel)]="selectedBlog.content1" required></textarea>
          </div>
          <div class="form-group">
            <label for="content2">Content2:</label><span class="required">*</span>
            <textarea type="text" class="form-control" id="content2" name="content2" [(ngModel)]="selectedBlog.content2" required></textarea>
          </div>
          <div class="form-group">
            <label for="Content3">Content3:</label><span class="required">*</span>
            <textarea type="text" class="form-control" id="Content3" name="Content3" [(ngModel)]="selectedBlog.content3"required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef.hide()">Hủy</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="updateBlog()">Lưu</button>
      </div>
    </div>
  </div>
</ng-template>
</div>
